## Practice Task :
Create a Student class which will take Name, Surname and Year of birth as input from the user. Another child class which will inherit all the attributes of Student parent class and will take School name as input.

User will input number of records to be entered and all the records will be stored in a dataframe at runtime.

In [23]:
class Student:
  def __init__(self):
    self.Name = input("Enter the Name of Student : ")
    self.Surname = input("Enter the surname of Student : ")
    self.YearOfBirth = input("Enter the year of birth of Student : ")
  

class School(Student):
  def __init__(self, *args):
    super().__init__(*args)
    self.SchoolName = input("Enter the school name of Student : ")
  def __str__(self):
    return "Name : "+self.Name+" Surname : "+self.Surname+" having year of birth : "+self.YearOfBirth+" and studying in school : "+self.SchoolName

In [24]:
import pandas as pd
number_of_records = input("Please input the number of records you want to enter : ")
x=[]
for i in range(0, int(number_of_records)):  
  School_obj = School()
  x.append(School_obj)
pd.DataFrame.from_records([s.__dict__ for s in x])

Please input the number of records you want to enter : 2
Enter the Name of Student : Divyo
Enter the surname of Student : Sinha
Enter the year of birth of Student : 27.04.1990
Enter the school name of Student : Ineuron
Enter the Name of Student : Anirban
Enter the surname of Student : Ghosh
Enter the year of birth of Student : 31.12.1990
Enter the school name of Student : Ineuron

      Name Surname YearOfBirth SchoolName
0    Divyo   Sinha  27.04.1990    Ineuron
1  Anirban   Ghosh  31.12.1990    Ineuron